<?php
// tg-Bot settings
$BOT_TOKEN = '0000000000:AAAAAAAAAAAAAAAAAAA_AAAAAAA-AAAAAAA'; 
$GPT_TOKEN = 'sk-АААААААААААААААААААААААААААААААААААААААААААААААА';
$INIT = false;
$ADMIN_ID = 00000000;
$APP_PASSWORD = 'password';
$CLEAR_INTERVAL = 1440; //min

// mySQL settings
$DB_SERVER = 'localhost';
$DB_NAME = 'name_db';
$DB_USER = 'name_user';
$DB_PASSWORD = 'password';

?>
